<div class="col-md-12 border-primary">

    <div class="col-md-12 bg-primary py-2 text-white text-center">
        <strong>To-DO Form - Form Component(Child-1)</strong>
    </div>
    <div class="form-group">
        <label for="inputTodoItem mb-2"> Item:</label>
                <input type="text" class="form-control mb-2" id="inputTodoItem" placeholder="Enter to-do item here.." [(ngModel)]="newItem">
                <ng-container *ngIf="isEdit; else addMode">
                    <button class="btn btn-sm btn-success w-100 mb-2" (click)="onUpdateTodo()">Update</button>
                    <button class="btn btn-sm btn-secondary w-100" (click)="onCancelEdit()">Cancel</button>
                </ng-container>
                <ng-template #addMode>
                    <button class="btn btn-sm btn-primary w-100" (click)="onAddTodo()">Add Todo</button>
                </ng-template>

    </div>
    
</div>
